<h1>List of Places</h1>
<ul>
    <% for (let i = 0; i < places.length; i++){%>
    <li><a href="/<%=places[i].zipcode%>"><%=places[i].name %></a></li>
    <%}%>
</ul>

<form action="POST">
    <label for="city" id="city" name="city">City:</label>
    <input type="text" placeholder="*type city name here*"></input>
    <label for="zipcode" id="zipcode" name="zipcode">Zipcode:</label>
    <input type="number" placeholder="*zipcode here*"></input>
    <button type="submit">submit</button>
</form>