<form action="/new" method="POST">
    <label for="city" id="place" name="place">City:</label>
    <input type="text" name="name" placeholder="*type city name here*"></input>
    <label for="zipcode" id="zipcode" name="zipcode">Zipcode:</label>
    <input type="number" name="zipcode" placeholder="*zipcode here*"></input>
    <button type="submit">submit</button>
</form>
<hr>
<a href="/">Return to home</a>