<p>
    The current temperature in your area is: <%=temperature%> degrees fahrenheit. The sky is <%=skytext%>
    <br>
    <a href="/">return to home</a>.
    <form action="/<%=zipcode%>" method="POST">
        <button type="submit">Delete Place</button>
    </form>
</p>