<!-- <p>
    <% 
    The current temperature in your area is: <%=myWeather[0].current.temperature%> degrees fahrenheit. The sky is <%=myWeather[0].current.skytext%>
    <br>
    <a href="/">return to home</a>.
</p> -->